<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>

        <style type='text/css'>
            /* CSS */
            body {
                font-family: 'Hoefler Text', serif;
                font-size: 1rem;
                padding: 1rem;
            }

            /*h1, h2, h3, h4, h5, h6 {
                font-family: 'Futura', sans-serif;
            }*/

            a {
                text-decoration: none;
            }
        </style>

        {% block 'head_static' %}
        {% endblock 'head_static' %}
    </head>
    <body>
        <!-- menu -->
        <a href="{% url 'homepage' %}">Home</a>
        &#9670;
        <a href="{% url 'blog_index' %}">Blog</a>
        &#9670;
        <a href="#TODO">Music</a>
        &#9670;
        <a href="#TODO">Contact</a>

        <div>
            {% block 'content' %}
            {% endblock 'content' %}
        </div>

        <script>
            (function() {
                /* JavaScript */
            }());
        </script>

        {% block 'body_bottom_static' %}
        {% endblock 'body_bottom_static' %}
    </body>
</html>