{% extends 'website/base.html' %}
{% load static %}
{% load music_extras %}

{% block 'head_static' %}
<style>
.etichetta-tab {
    display: inline-block;
    font-weight:  500;
    margin-right:  .5rem;
    border:  1px solid #404040;
    padding:  0.5rem;
    position:  relative;
    margin-bottom:  0.5rem;
    border-radius:  5px;
    color:  #FBFFFE;
    background-color:  #696969;
    cursor:  pointer;
}
.etichetta-tab:hover {
    background-color:  #C0C0C0;
    color: #FBFFFE;
    text-shadow: 1px 1px 3px #696969;
}
.etichetta-tab.active {
    background-color:  #A9A9A9;
}
.etichetta-content {
    display: none;
    border:  1px solid #404040;
    z-index:  10;
}
.etichetta-content.active {
    display:  block;
}
</style>
{% endblock 'head_static' %}

{% block 'content' %}
    <h1>Music</h1>

    <div>
        {# <img src="{% static 'st-patricks-day-bw.jpg' %}" width="300px" height="225px" style="float: right;" /> #}

        <div>
            <p>I've been playing guitar since college, and have acquired quite an eclectic repertoire performing at parties, wineries and breweries in the area. I'm working on updating a full list and recording videos. Check out my <a href="https://www.youtube.com/channel/UCUG607ZYsXytL9eb9MXqVLg/videos" target="_blank">Youtube Channel</a> for a full list!</p>
            <p>I'm also a member of the cover bands <a href="http://threestrikesband.com/" target="_blank">Three Strikes</a> and <a href="http://whiskycreekramblers.com/" target="_blank">Whisky Creek Ramblers</a>.</p>
            <p>If you'd like to get in contact, please e-mail me at <a href="mailto:bryan.e.hadro@gmail.com">bryan.e.hadro@gmail.com</a>.</p>
        </div>
        <div style="height: 0; width: 100%; clear: right;"></div>
    </div>

    <div id="set-list">
        <div class="etichetta-tabs">
        {% for category in categories %}
            <button class="etichetta-tab" id="{{category.name|text_to_node_id}}">{{category.name}}</button>
        {% endfor %}
    </div>

    <div>
        {% for category in categories %}
            <div class="etichetta-content">
                <ul>
                    {% for song in category.songs.all %}
                    <li>
                        {% if song.youtube_video_link %}
                            <a href="{{song.youtube_video_link}}" target="_blank">
                                {{song.artist.name}} - {{song.name}}
                            </a>
                        {% else %}
                            {{song.artist.name}} - {{song.name}}
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
    </div>

{% endblock 'content' %}

{% block 'body_bottom_static' %}
<script>
    (function(document) {

        class Etichetta {
            id = null;
            tabs = null;
            tabIds = [];
            content = null;
            constructor(id) {
                this.id = id;
                this.tabs = document.querySelectorAll(`#${this.id} .etichetta-tab`);
                this.content = document.querySelectorAll(`#${this.id} .etichetta-content`);
                [...this.tabs].forEach((tab, index) => {
                    this.tabIds.push(tab.id);
                    this.addClickHandler(tab, index);
                });
            }
            activate(node) {
                node.classList.add('active');
            }
            deactivate(nodeList) {
                [...nodeList].forEach(node => {
                    node.classList.remove('active');
                });
            }
            addClickHandler(tab, index) {
                tab.addEventListener('click', event => {
                    event.preventDefault();

                    this.deactivate(this.tabs);
                    this.deactivate(this.content);

                    this.activate(tab);
                    this.activate(this.content[index]);

                    window.location.hash = `#${tab.id}`;
                });
            }
        }

        // instantiate the tabs
        const etichetta = new Etichetta('set-list');

        // set the current tab based on valid hash
        let currentTab = null;
        let hash = window.location.hash;
        if (etichetta.tabIds.includes( hash.slice(1) )) {
            currentTab = document.querySelector(window.location.hash);
        } else {
            currentTab = etichetta.tabs[0];
        }

        // activate the current tab
        currentTab.click();

    }(document));
</script>
{% endblock 'body_bottom_static' %}