services:
  web:
    build: .
    environment:
      DJANGO_SETTINGS_MODULE: website.settings.production
    ports:
      - "9000:9000"
    volumes:
      - static_volume:/app/staticfiles
    
volumes:
  static_volume: