{% extends 'website/base.html' %}

{% block 'content' %}
    <h1>Blog</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non tempor lectus. Donec at tortor ultricies velit auctor sagittis. Integer et massa luctus, convallis nulla sed, imperdiet erat. Aenean a interdum lectus. Aenean suscipit tortor ac dolor hendrerit commodo. Morbi eu sodales tortor. Nunc luctus id lectus non accumsan.</p>

    <p>Nunc et volutpat tellus. Pellentesque nec eros magna. Pellentesque maximus velit sit amet fermentum pulvinar. Curabitur libero erat, tristique eu blandit sed, ullamcorper nec felis. Fusce non congue metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nullam posuere turpis in metus congue iaculis.</p>

    <p>Sed tincidunt ex sapien, at gravida nulla consectetur ut. Nulla tortor tortor, egestas ut condimentum in, gravida condimentum felis. Nullam ac erat faucibus, ullamcorper ligula sed, vulputate ligula. In in diam purus. Nulla sem magna, consequat eget metus auctor, sodales pulvinar turpis. Ut porttitor lorem eget augue cursus, eu semper justo sollicitudin. Proin ac volutpat ligula, eu tempor diam. </p>
{% endblock 'content' %}